<div class="container-fluid">

    <div class="row">
        <div class="container">
        <div class="question panel panel-primary">
            <div class="clearfix">
                <h2 class="pull-left">
                <strong>{{queryResults[0].Title}}</strong>
                </h2>
                <span class="pull-right badge">Score: {{queryResults[0].Score}}</span>
            </div>
            <hr>
            <p class="post-text" ng-bind-html="queryResults[0].Body"></p>

        </div>

</div>
    </div>

    <hr>

    <div class="container">


        <div class="row" ng-repeat="result in answersResult | orderBy:'Score' :true">

            <div class="panel panel-warning answer">

                <h2><strong>On: {{result.CreationDate | date:'yyyy-MM-dd HH:mm:ss'}}</strong><span
                        class="pull-right badge">Score: {{result.Score}}</span></h2>
                <hr>
                <p class="post-text" ng-bind-html="result.Body"></p>

            </div>

        </div>

    </div>

</div>
