<div class="container">
    <div id="custom-search-input">
        <div class="input-group col-md-12">
        <autocomplete ng-model="queryText" data="queryAutocompleteResults"></autocomplete>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel-group" id="accordion" >
        <div ng-repeat="result in queryResults" class="row"style="padding: 20px 0px;">
            <div  class="panel panel-default" id="heading{{$index}}">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapse{{$index}}">
                            {{result.Title}}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{$index}}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p ng-bind-html="result.Body"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
