/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

#custom-search-input {
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

.glossy-text {
    color: rgba(231,76,60,0.8);
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    padding: 20px;
    text-shadow: 0px 4px 20px #4d4d4d;
    cursor: pointer;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.container-fluid {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(bottom, #3498DB 0%, #547799 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #3498DB 0%, #547799 100%);
    /* Opera */
    background-image: -o-linear-gradient(bottom, #3498DB 0%, #547799 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #547799), color-stop(1, #3E6E99));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #3498DB 0%, #547799 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top, #3498DB 0%, #547799 100%);
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    z-index: 2;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #D9230F;
}

.search-query:focus + button {
    z-index: 3;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #3498DB;
}

.transp {
    /*background-color: rgba(197,198,212,0.25);*/
}

.results .result {
    width: 90%;
    margin:auto;
    margin-top: 20px;
}

.result span.close-icon {
    float: right;
    font-size: 20px;
    color: #E74C3C;
}

.result .panel-heading {
    padding: 15px 20px;
    cursor: pointer;
    position: relative;
}

.result .panel-heading h4 {
    font-weight: bold;
    float: left;
    font-size: 20px;
    color: #E74C3C;
}

.result .panel-body {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
}

.result .result-body {
    text-align: justify;
}

.result .panel-body a.see-more {
    color: #E74C3C;
}

.result-body p{
    line-height: 1.5em;
}

.search-config {
    width: 90%;
    margin: auto;
}

.search-status {
    position: relative;
    min-height: 78px;
}

.search-status h3 {
    float: left;
    text-shadow: 0px 1px 1px #4d4d4d;
    padding: 0.7em;
    padding-bottom: 0px;
    font-size: 38px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 20px;
}

.search-status span.red-text {
    color: #E74C3C;
    text-shadow: 0px 1px 1px #4d4d4d;
}

#spinner {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-left: -32px;
    z-index: 10;
}
.search-config .sort-tabs {
    float: right;
}

.search-config .sort-text {
    float: left;
    padding: 0.4em;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #4d4d4d;
}

.search-config ul{
    list-style: none;
    display: inline;
}

.search-config ul li{
    float: left;
    padding: 1em;
    background-color: #2980B9;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgba(0,0,0,0.4);
    cursor: pointer;
    text-shadow: 0px 1px 1px #4d4d4d;
}

.search-config ul li:hover, .search-config ul li.active{
    background-color: rgba(231,76,60,1);
}
.search-config ul li:first-child {
    border-right-width: 0px;
}

.search-config ul li:last-child {
    border-left-width: 0px;
}

/******* VIEW POST *******/

.post-container {
    background-color: #3498DB;
}

.question {
    border: solid 1px;
    margin: auto;
    margin-top: 10px;
    padding: 2em;
    width: 90%
}

.question h2, .answer h2 {
    margin-top: 0px;
    font-weight: bold;
    color: #E74C3C;
}

.post-text {
    font-weight: normal;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}

.badge {
    font-size: 20px;
    font-weight: bold;
    padding: 0.4em;
    background-color: rgba(231,76,60,0.9);
}

.answer {
     border: solid 1px;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    padding: 2em;
}

/**** Animations ****/
.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move,
.enter-animation.ng-enter {
  -webkit-transition:0.3s linear all;
  transition:0.5s linear all;
}

/* ending enter and move styling
   (this is what the element will animate from */
.enter-animation.ng-enter,
.repeat-animation.ng-enter,
.repeat-animation.ng-move { opacity:0; }

/* ending enter and move styling
   (this is what the element will animate towards */
.enter-animation.ng-enter.ng-enter-active,
.repeat-animation.ng-enter.ng-enter-active,
.repeat-animation.ng-move.ng-move-active { opacity:1; }

/* starting leave animation */
.enter-animation.ng-leave,
.repeat-animation.ng-leave { opacity:1; }

/* ending leave animation */
.enter-animation.ng-leave.ng-leave-active,
.repeat-animation.ng-leave.ng-leave-active { opacity:0; }
