/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.container-fluid {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(bottom, #B4DBFF 0%, #3E6E99 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #B4DBFF 0%, #3E6E99 100%);
    /* Opera */
    background-image: -o-linear-gradient(bottom, #B4DBFF 0%, #3E6E99 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B4DBFF), color-stop(1, #3E6E99));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #B4DBFF 0%, #3E6E99 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top, #B4DBFF 0%, #3E6E99 100%);
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    z-index: 2;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #D9230F;
}

.search-query:focus + button {
    z-index: 3;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #B4DBFF;
}

.transp {
    background-color: rgba(197,198,212,0.25);
}

.results .result {
    width: 90%;
    margin:auto;
    margin-top: 20px;
}

.result span.close-icon {
    float: right;
    font-size: 20px;
}

.results .result:first-child {
    margin-top: 40px;
}

.results .result:last-child {
    margin-bottom: 40px;
}

.result .panel-heading {
    padding: 15px 20px;
    cursor: pointer;
    position: relative;
}

.result .panel-heading h4 {
    font-weight: bold;
    float: left;
    font-size: 20px;
}

.result .panel-body {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
}

.result .result-body {
    text-align: justify;
}

.result-body p{
    line-height: 1.5em;
}
